<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.User != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/header.ejs')  %> 
	<% } %> 
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < results.length; i++){ %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%=results[i].id%>">
						<figure class="product-box_image">
							<img src="/public/images/products/<%results[i].image%>" alt=<%= results[i].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2>Cargado por 
								<a href="/user/profile/<%= results[i].usuario_id%>"><%= data[i].User.nombre %> </a>
							</h2>
							<p><%= results[i].description %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
	</div>
</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>