<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.User != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/header.ejs')  %> 
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center titulo-producto">
			<h2 id="products-title"> <%= producto.nombre %>	</h2> 
			<p class="product-detail-description">
				creado por: <a href="/user/profile/<%= producto.User.dataValues.id %>"><%= producto.User.dataValues.nombre%></a>
				<% if(producto.User.dataValues.id == usuario){ %>
					<br>
					<form action="/id/:id" method="post">
						<button type="submit" class="button-edit-product">ELIMINAR</button>
					</form>
					<button><a href="/product/edit/ <%= producto.id %>" class="button-edit-product">EDITAR</a></button>
			<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src='/images/products/<%= producto.image %>' alt="" class="product-detail-img">

					<p class="product-detail-description"><%= producto.description %></p>
				</article>
				<div class="col-12 col-lg-4">			
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++)  {%>
							<article>
							<img src="/images/users/<%= comentarios[i].User.picture %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user/profile/<%= comentarios[i].dataValues.User.id %> %>"><%= comentarios[i].dataValues.User.nombre %></a> </strong>
								<p><%= comentarios[i].dataValues.contenido %></p>
							</div>
						</article>
						<%}%>	
					</section>
					<form class="form" action="/product/comment" method="POST">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>