<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.User != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/header.ejs')  %> 
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center titulo-producto">
			<h2 id="products-title"><% for(let i = 0; i < productos.length; i++){ %>
				<% if(idSelected == productos[i].id){ %>
					<%= productos[i].nombre %>
			<%	} %>
			<% } %>	</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">


					
					<img src=<% for(let i = 0; i < productos.length; i++){ %>
						<% if(idSelected == productos[i].id){ %>
							<%= productos[i].foto %>
					<%	} %>
					<% } %> alt="" class="product-detail-img">

					<p class="product-detail-description">
						<% for(let i = 0; i < productos.length; i++){ %>
							<% if(idSelected == productos[i].id){ %>
								<%= productos[i].descripcion %> 
						<%	} %>
						<% } %>
					</p>

				</article>
				
				<div class="col-12 col-lg-4">			
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++)  {%>
							<article>
							<img src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user/profile"><%= comentarios[i].nombreDelUsuario %>: </a> </strong>
								<p> <%= comentarios[i].comentarioDelUsuario%></p>
							</div>
						</article>
						<%}%>	
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->



	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>