<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">20 century boys</h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<% for(let i = 0; i < 2; i++){ %>
						<% if(idSelected == productos[i].id){ %>
							<%= productos[i].foto %>
					<%	} %>
					<% } %> alt="" class="product-detail-img">
					<p class="product-detail-description">
						En 1969, Kenji y sus amigos del colegio escribieron el Libro de las Profecías, en el que narraban cómo una organización maligna destruía el mundo y un grupo de nueve héroes salvaba a la humanidad.</p>
				</article>
				<div class="col-12 col-lg-4">			
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++)  {%>
							<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"><%= comentarios[i].nombreDelUsuario %>: </a> </strong>
								<%= comentarios[i].comentarioDelUsuario%></p>
							</div>
						</article>
						<%}%>	
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->



	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>