<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de: Vagabond  </h2>
				<section class="product-box product-search-result">
					<a href="/product/<%= productos[5].id %>">
						<figure class="product-box_image">
							<img src=<%= productos[5].foto %> alt=<%= productos[5].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2><%= productos[5].nombre %></h2>
							<p><%= productos[5].descripcion %> </p>
							<p>Comentarios: <%= comentarios.length %></p>
						</article>
					</a>
				</section>
			</div>
			<!-- Show the "ultimos" products -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>